<h2 class="text-center">
  <span>Customer Id: </span>
  <span><%= text_field_tag(:customer_id, nil, placeholder: "Set Id")%></span>
  <br><br>
  <div><button>Ride Now</button></div>
</h2>

<%= javascript_include_tag 'customerapp' %>
