<h1>
  <span>Listing Ride Requests</span>
  <span class="pull-right"><button>Refresh</button></span>
</h1>
<br>

<div class="js-ride-details">
  <table>
    <thead>
      <tr>
        <th>Request Id</th>
        <th>Customer Id</th>
        <th>Time Elapsed</th>
        <th>Status</th>
        <th> Driver</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>
<br>

<%= javascript_include_tag 'dashboard' %>
