body{
  width: 80%;
  margin-left: 10%;
}

button{
  font-size: 18px;
}

.js-ride-details{
  table {
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 1.3em;
  }
  & table, th, td {
     border: 1px solid grey;
     border-spacing: 5px;
  }

  & th, td {
    width: 20%;
  }
}

.pull-right{
  float: right;
}