body{
  width: 80%;
  margin-left: 10%;
  font-size: 1.2em;
}

button, input{
  font-size: 18px;
  vertical-align: middle;
}

button{
  &:hover{
    cursor:pointer;
  }
  &:disabled{
    cursor: not-allowed;
  }
}

.js-table-wrapper{
  table {
    text-align: center;
    width: 100%;
  }
  & table, th, td {
     border: 1px solid grey;
     border-spacing: 5px;
  }
}

.js-ride-list{
  & th, td {
    width: 20%;
  }
}

.js-driver-info{
  & th, td {
    width: 33%;
  }
}

.pull-right{
  float: right;
}

.text-center{
  text-align: center;
}
